<!DOCTYPE html>
<html lang="en" 
	xmlns:"http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Security Demo</title>
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-default">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="/">abcd.com</a>
	</div>
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li class=""><a href="/posts/">Posts</a></li>
			<li class=""><a href="/authors/">Authors</a></li>
		</ul>
		
	<div class="navbar-text navbar-right">
	Welcome <span sec:authentication="name">Guest</span>
	<form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
		<a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
	</form>
	</div>	
	</div>
	</div>
	</nav>
	<div layout:fragment="content">
	</div>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>	